/* Side bar items */
.sidebar {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
}

.nav-item a:hover {
  background-color: #4B515D;
  color: white;
  font-weight: bold;
}

.nav-item i {
  width: 20px;
}

.nav-item a {
  color:#4B515D;
}
/* End of Side bar items */

/* Main body */
main {
  padding: 0px !important;
}

/* Items in Cases Map */
/* Wrapper for map and title */
.wrapper {
  position: relative;
}

#map {
  min-height: 92vh;
}

#titleOverlay {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 10000;
}

#mapRegionList {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 10000;
}

#statsRow {
  min-height: 8vh;
}
/* End of Items in Cases Map */

/* Text-related */
.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Highcharts figure height */
.hc-figures {
  min-height: 500px;
}

/* image place holder */
.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 500px;
  margin: 5px;
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

/* D3 chart */
#timeSeriesPlot {
  width: 100%;
  height: 500px;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tick line {
  stroke: rgb(194, 194, 184);
}

.axis-label {
  font-size: 2em;
  fill: #8E8883;
}

svg text {
  font-size: 1.5em;
}

.tooltip {
  position: absolute;
  width: 120px;
  height: 120px;
  padding: 10px;
  font: sans-serif;
  font-size: 9pt;
  text-align: center;
  color: black;
  background: orange;
  border: 5;
  border-radius: 8px;
}

/* Icon color for the map of country with zero cases */
.fa-sun {
  color: orangered;
}

