
.sidebar {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
}

.nav-item a:hover {
  background-color: #4B515D;
  color: white;
  font-weight: bold;
}

.nav-item i {
  width: 20px;
}

.nav-item a {
  color:#4B515D;
}

main {
  padding: 0px !important;
}

/* Wrapper for map and title */
.wrapper {
  position: relative;
}

#map {
  min-height: 92vh;
}

#titleOverlay {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 10000;
}

#statsRow {
  min-height: 8vh;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* image place holder */
.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 500px;
  margin: 5px;
}

.sidebar {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
}

.nav-item a:hover {
  background-color: #4B515D;
  color: white;
  font-weight: bold;
}

.nav-item i {
  width: 20px;
}

.nav-item a {
  color:#4B515D;
}

main {
  padding: 0px !important;
}

/* Wrapper for map and title */
.wrapper {
  position: relative;
}

#map {
  min-height: 92vh;
}

#titleOverlay {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 10000;
}

#mapRegionList {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 10000;
}

/* Statistics row below map*/
#statsRow {
  min-height: 8vh;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* image place holder */
.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 500px;
  margin: 5px;
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.tick line {
  stroke: rgb(194, 194, 184);
}

.axis-label {
  font-size: 3em;
  fill: #8E8883;
}

.tooltip {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 10px;
  font: 6px sans-serif;
  text-align: center;
  color: black;
  background: orange;
  border: 5;
  border-radius: 8px;
}

